<div class='preview-wrap'>
  <div class='preview-card'>
    <div class='preview-header'>
      <div>
        <div class='preview-title'>Share link</div>
        <div class='preview-key'>{{safe_key}}</div>
      </div>
      <div class='preview-actions'>
        <a class='action-link' href='{{back_url}}'>Back</a>
        <a class='action-link' href='{{safe_url}}' target='_blank'>Open</a>
      </div>
    </div>
    <div class='preview-frame share-box mono'>{{safe_url}}</div>
    <div class='preview-actions preview-actions-bottom'>
      <a class='action-link' href='#' data-copy='{{safe_url}}'>Copy URL</a>
    </div>
  </div>
</div>
<div id='toast' class='toast'></div>
